{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
  .card{
    background-color: #0d7d99;
    color: #f6f8f9;
  }
  .form-control{
    background-color: #0d7d99!important;
    color: #f6f8f9!important;
  }
</style>

<div  class="row justify-content-center">
  <div class="col-6 mr-5">
    <div id='back' class="card">
      <div class="card-body">
        <h2>Milk Category & Price</h2><hr>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-light text-dark">Save</button>
            </form>
          </div>
      </div>
  </div>

  <!-- My Profile Card Start -->
  <div class="col-3 ml-5">
    <div class="card card-shadow text-center border-0">
      
      <div class="card-block">
        <a class="avatar avatar-lg">
          <img class="w-50 rounded-circle my-4" src="{% static 'images/alonzo.jpg' %}" alt="Alonzo Lee">
      </a>
      <h4 class="profile-user">Alonzo Lee</h4>

        <p>Python Developer</p>

        <div class="profile-social mb-4">
          <a class="fab fa-github" style="color: #B8C6CC!important;" target="_blank" href="#"></a>
          <a class="fab fa-linkedin" style="color: #B8C6CC!important; margin-left: 0.5rem;" target="_blank" href="#"></a>
          <a class="fab fa-dev" style="color: #B8C6CC!important; margin-left: 0.5rem;" target="_blank" href="#"></a>
          <a class="fab fa-stack-overflow" style="color: #B8C6CC!important; margin-left: 0.5rem;" target="_blank" href="#"></a>
      </div>
      </div>
      
      <div class="card-footer">
        <div class="row no-space">
            <div class="col">
              <div class="col my-2">
                <h5 class="profile-stat-count text-dark">Users List</h5><hr>
                {% for u_list in cl %}
                  <strong class="text-light">{{u_list}}</strong>
                  <br>
                {% endfor %}
              </div>
        </div>
      </div>

    </div>
  </div>
<!-- My Profile Card End -->
</div>
{% endblock %}
